/* ====== Fonts ====== */

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@600&family=Roboto+Mono:wght@300;500;700&display=swap');

/* ====== Variables ====== */

:root {
  --blue: #4ab0d9;
  --green: #5b794c;
  --yellow: #f2ba52;
  --darkblue: #315669;
  --red: #b7321a;
  --blackish: #272627;
}

/* ====== Global Settings ====== */

* {
  margin: 0;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--blue);
}

.main-page {
  margin-bottom: 100px;
}

/* ====== Nav Bar Styles ====== */

.container {
  background-color: var(--blue);
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.container a {
  text-decoration: none;
  color: var(--yellow);
  text-shadow: 5px 5px 5px var(--darkblue);
  padding: 20px;
}

/* ====== 'Where Do you Want to go' Styles ====== */

.form-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.place-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.where-to-go h2 {
  color: var(--blackish);
  text-shadow: 5px 2px 5px floralwhite;
  font-size: 28px;
  padding: 20px;
}

.place-form label {
  font-size: 20px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.place-form input {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 5px;
}

.city-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.city-country input {
  border: 2px solid rgba(125, 123, 123, 0.8);
  border-radius: 6px;
  height: 30px;
  font-size: 20px;
}

.notes-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes-form textarea {
  border: 2px solid rgba(83, 82, 82, 0.9);
  border-radius: 6px;
  font-family: 'Roboto Mono', monospace;
  height: 60px;
  font-size: 20px;
}

.add-place-btn {
  border: 3px solid rgba(8, 101, 5, 0.8);
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
}
.add-place-btn:hover {
  background-color: var(--yellow);
}

.add-place-btn:active {
  background-color: var(--yellow);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ====== Input Field Styles ====== */

input.error {
  border: 1px solid var(--red);
}

div.error {
  border: 1px solid var(--red);
  color: var(--red);
  padding: 10px;
  border-radius: 4px;
}

/* ====== Map Styles ====== */
.map-app {
  font-weight: 400;
  text-align: right;
  padding: 100px;
  margin-bottom: 60px;
}

.map-app h2 {
  color: var(--blackish);
  text-shadow: 5px 2px 5px floralwhite;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.map-view {
  height: 80vh;
}

/* ====== Places Card Styles ====== */

.places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.place-card {
  background-color: floralwhite;
  border-radius: 7px;
  box-shadow: 5px 5px rgba(85, 84, 84, 0.5);
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
}

.place-title {
  background-color: var(--green);
  color: floralwhite;
  display: flex;
  flex-direction: column;
  align-self: auto;
  padding: 20px 10px;
}

.place-note {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  background-color: #f2ba52;
  padding: 10px;
}

.place-timestamp {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  padding: 5px 3px;
}

.place-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 5px;
}

.place-buttons button {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 5px;
}
